@font-face {
    font-family: 'Quote';
    src:url('Quote.woff') format('woff'),
        url('Quote.woff2') format('woff2'),
        url('Quote.svg#Quote') format('svg'),
        url('Quote.eot'),
        url('Quote.eot?#iefix') format('embedded-opentype'),
        url('Quote.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

  .mibfont{
    font-family: "Quote";
    text-transform: lowercase;
    text-transform: capitalize;
    background-image: url("../img/intro-bg.");
    color: #fff;
    mix-blend-mode: multiply;
  
  }
  
  .mibfont-logo{
    font-family: "Quote";
    text-transform: lowercase;
    text-transform: capitalize;
    font-size: x-large;
    color:black;

  }

  }
  
  .mibfont-title{
    font-family: "Quote";
    text-transform: lowercase;
    text-transform: capitalize;
    font-size: x-large;
    color: #fff;
    mix-blend-mode: multiply;

  }

  .opacitybox{
    background-color: #000;
    box-sizing: border-box;
    object-fit: cover;
    background-size: cover;
    opacity: .7;
  }
