@font-face {
    font-family: 'hypik';
    src:url('assets/fonts/hypik.woff') format('woff'),
        url('assets/fonts/hypik.woff2') format('woff2'),
        url('assets/fonts/hypik.eot'),
        url('assets/fonts/hypik.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/hypik.otf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 { 
   font-family: 'hypik';
}  
